<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li style="float: left"><a href="../../index.html">Home</a></li>
        <!-- <li><a href="../details/details.html">Details</a></li> -->
        <li style="float: right">
          <a href="../cart/cart.html"
            >Cos de cumparaturi<i class="fa-solid fa-cart-arrow-down"></i
          ></a>
        </li>
        <li style="float: right">
          <a href="../admin/admin.html"
            >Admin <i class="fa-solid fa-lock"></i
          ></a>
        </li>
      </ul>
    </nav>

    <script type="module" src="productDetailsCard.js"></script>
  </body>
</html>
